<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.url">jdbc:mysql://localhost:3306/datasets</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1</property>

        <!-- Hibernate properties settings -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.pool_size">1</property>

        <mapping class="main.java.battery.Battery"/>
        <mapping class="main.java.accessPoints.AccessPoints"/>
        <mapping class="main.java.baseStation.BaseStations"/>
        <mapping class="main.java.gps.Gps"/>

    </session-factory>
</hibernate-configuration>